{% extends 'base/base.html' %}
{% load static %}

{% block title %} Iniciar Sesión {% endblock title %}
{% block titular %} Iniciar Sesión {% endblock titular %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Iniciar Sesión</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-block w-100">Iniciar sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
