{% extends 'base/base.html' %}
{% load static %}

{% block title %} Acerca {% endblock title %}

{% block titular %} Acerca de mí {% endblock titular %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh; text-align: center;">
    <div>
        <p style="font-family: 'Arial', sans-serif; font-size: 1.25rem; line-height: 1.6; color: #333;">
            Mi nombre es Facundo Petringa, tengo 32 años, soy de Buenos Aires, Argentina. Este es mi primer curso de programación, siempre quise aprender pero por cuestiones de la vida nunca había podido, así que estoy muy emocionado con el curso!
        </p>
        <div class="d-flex justify-content-between">
            <a href="javascript:history.back()" class="btn btn-outline-secondary w-100 mt-3">Volver</a>
        </div>
    </div>
</div>
{% endblock contenido %}
